.editContainer {
	display: inline-block;
	border: 1px solid black;
	margin: 20px 10px;
	padding: 15px;
	width: 40%;
	vertical-align: top;
}

.editContainer input {
	height: 30px;
	width: 300px;
	margin-left: 15px;
	padding: 5px;
}

.editContainer button {
	height: 30px;
	width: 100px;
	background-color: #fff;
	border: 1px solid #000;
	cursor: pointer;
}